:root {
  // цвет
  --color-text: #012B34;
  --color-text-hover: #02818A;
  --color-text-active: #02818A;
  --color-bg: #FFFFFF;
  --color-svg: #012B34;
  --color-svg-hover: #02818A;
  --color-svg-active: #02818A;
  --color-border: #E6E6E6;
}