:root {
  // цвет
  --color-black: #000;
  --color-white: #FFF;
  --color-light-gray-fill: #ECECEC;
  --color-gray-fill: #CACACA;
  --color-dark-gray-fill: #666;
  --color-very-light-fill: #D1A9F0;
  --color-light-fill: #C283F3;
  --color-fill: #9D5CD0;
  --color-dark-fill: #7943A4;
  --color-light-text: #fff;
  --color-gray-text: #999;
  --color-text: #333;
}